<!doctype html>

<html lang="en">

   <header>
      <title>History Box</title>
	  <meta name="History Box" content="Nibir's King Portal">
	  <link rel="stylesheet" href="Stylewebsite.css">
	  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
      
    </header>

    <style>
        body {text-align: center;}
    </style>

	<body>
       <h1>User Search History</h1>

       <h3>User Name</h3>
       <input type="checkbox" id="Nibir" name="Nibir"/>Nibir
       <input type="checkbox" id="Fahim" />Fahim
       <input type="checkbox" id="Sakib" />Sakib
       <br/>

       <h3>Searching keyword</h3>
       <input type="checkbox" id="Sports" />Sports
       <input type="checkbox" id="Youtube" />Youtube
       <input type="checkbox" id="Facebook" />Facebook
       <br/>

       <h3>Maximum Duration Of Browsing</h3>
       <input type="checkbox" id="10" />10
       <input type="checkbox" id="20" />20
       <input type="checkbox" id="30" />30
       <br/>

       <h3>Browsing Period</h3>
       <input type="date" id="Start" />Start
       <br/> 
       <input type="date" id="End" />End
       <br/>
       <br/>
       
       <input id="but1" type="button" value="Display Records" />
	</body>
	
	<footer>

	</footer>